<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <!--
      This section allows unauthorised users to get static resources, otherwise requests to the fonts are denied with a 401 unauthorised error.
    -->
    <security>
      <authorization>
        <remove users="?" roles="" verbs="" />
        <add accessType="Allow" users="?" />
      </authorization>
    </security>

    <!--
      This section allows the browser to cache static files - IIS will return 304-not modified so the 
      browser goes to local disk instead of making a network request.
      
      See: http://stackoverflow.com/questions/7541032/caching-specific-javascript-and-css-files
           http://stackoverflow.com/questions/2195266/how-to-configure-static-content-cache-per-folder-and-extension-in-iis7
    -->
    <caching>
      <profiles>
        <add extension=".eot" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
        <add extension=".svg" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
        <add extension=".ttf" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
        <add extension=".woff" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />

        <add extension=".gif" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
        <add extension=".ico" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
        <add extension=".png" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />

        <add extension=".css" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
        <add extension=".js" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
        <add extension=".html" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
      </profiles>
    </caching>

    <!-- 
      This section allows IE to download the fonts in particular, otherwise we get the following message
      in the console: 
      
        @font-face failed cross-origin request. Resource access is restricted. 
     
      See: http://stackoverflow.com/questions/5065362/ie9-blocks-download-of-cross-origin-web-font
           http://stackoverflow.com/questions/10125004/how-to-add-an-access-control-allow-origin-header-in-iis7-with-restrictions
      
      -->
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>
