@model MB.LibraryRss.WebUi.ViewModel.HomeIndexViewModel

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th colspan="4">
        <h3>
          About
        </h3>             
      </th>
    </tr>  
  </thead>
  <tbody>
    <tr>
      <td>
        <p>
          A rough front-end over the PNCC library new titles RSS feed.
        </p>
        
        <p>
          Created because the oldies sometimes hide the new books to reserve when they come out, and to show up the other new books that don't have their own "new titles" shelf like the adults fiction section does.
        </p>
        
        <p>
          This attempts to parse the rss feed, visit the page for each item on it, pull some extra data about the title and use it to rate the thing on how likely I am to want to reserve it using basic black- and white-lists for keywords in the subject or section fields.
        <p>
          
        <p>
          The source feed is <a target="_" href="https://ent.kotui.org.nz/client/rss/hitlist/pn/qu=newbks-pn&dt=list&st=PD">here</a>. 
        </p>
        
        <p>
          The source is <a target="_" href="https://github.com/meataxe/LibraryRss">here</a>.
        </p>
      </td>
    </tr>    
  </tbody>
</table>
