body
{ 
  padding-top: 136px;
  padding-bottom: 40px;
}

.navbar {
  margin-bottom: 0;  
}

.navbar .menu form {
  padding: 0;  
}

.navbar .menu ul.navbar-nav > li > a {
  padding-bottom: 8px;
  padding-top: 8px;
  line-height: 20px;  
  font-size: 14px;
}

.navbar .menu ul.navbar-nav > li > a.test-system-link {
  color: #666666;
  font-size: 15px;
  font-weight: bold;
}

.navbar .menu form.navbar-form {
  margin-top: 3px;
  margin-bottom: 0;
  margin-right: 15px;
}

.breadcrumb-container {
  background-color: #F5F5F5;
  margin-top: 37px;
  width: 100%;
  z-index: 1000;
}

.breadcrumb-container .container {
  padding: 0;
}

.breadcrumb-container .container ol li:first-of-type {
  margin-left: 15px; 
}

.breadcrumb {
  margin-bottom: 0;
}

.content-container {
  margin-top: 20px;
}
  
.grid-wrapper {
  padding-top: 10px;
}

.mb-template {
  padding-top: 100px;
  margin: -8px;
  background-color: #FFFFFF;
  color: #333333;
  font-family: Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.42857;
}

.mb-template *:before, 
.mb-template *:after,
.mb-template * {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.mb-template .container:before, 
.mb-template .container:after, 
.mb-template .navbar:before, 
.mb-template .navbar:after {
  content: " ";
  display: table;
}

.mb-template .container {
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}  

.mb-header-container {
  position: relative;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: left top;
  width: 1170px;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px; 
}

.mb-template .navbar-fixed-top {
  border-bottom-style: solid;
  border-radius: 0;
  border-width: 0 0 1px;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  min-height: 50px;
  -moz-transform: translate3d(0px, 0px, 0px);
  -ms-transform: translate3d(0px, 0px, 0px);
  -o-transform: translate3d(0px, 0px, 0px);
  -webkit-transform: translate3d(0px, 0px, 0px);
  transform: translate3d(0px, 0px, 0px);
  display: block;
  background-color: #F8F8F8;
  border-bottom-color: #E7E7E7;
  border-image-outset: 0 0 0 0;
  border-image-repeat: stretch stretch;
  border-image-slice: 100% 100% 100% 100%;
  border-image-source: none;
  border-image-width: 1 1 1 1;
}

.mb-header {
  height: 100px;
  background-color: #222222;
}

i.mb-app-title-image {
  position: absolute;
  top: 20px;  
  color: #FFF;
  font-size: 64px;
}

i.mb-app-title-image.img1 {
  right: 15px;
}

i.mb-app-title-image.img2 {
  right: 95px;
}

i.mb-app-title-image.img3 {
  right: 175px;
}

i.mb-app-title-image-inner {
  position: absolute;
  top: 40px;  
  color: #FFF;
  font-size: 22px;
}

i.mb-app-title-image-inner.img1 {
  right: 37px;
}

i.mb-app-title-image-inner.img2 {
  right: 117px; 
}

i.mb-app-title-image-inner.img3 {
  right: 197px;
}

img.mb-app-title-image {    
  position: absolute;
  top: 20px;
  right: 15px;  
  -ms-interpolation-mode: bicubic;
}

.mb-app-title {
  position: absolute;
  top: 0;
  left: 15px;
  padding-top: 5px;
  height: 100px;
  font-size: 64px;
  color: white;     
  font-weight: 400;
  text-align: left;  
  text-rendering: optimizelegibility;      
  -webkit-font-smoothing: antialiased;     
  line-height: 1.42857;
}

.mb-title-font {
  font-family: Roboto, sans-serif;
}