@{
  ViewBag.Title = "Settings";

  var freeSpace = this.ViewBag.FreeSpace as decimal?;
  var freeSpaceDesc = freeSpace.HasValue ? string.Format("{0}mb", freeSpace) : "unknown";
}

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th colspan="2">
        <h3>
          Actions
        </h3>             
      </th>
    </tr>  
    <tr>
      <td style="width: 150px">Action</td>
      <td>Description</td>
    </tr>
  </thead>
  <tbody>
    <!--
    <tr>
      <td>@Html.ActionLink("Initialise", "InitialiseDatabase", "Admin", null, new { @class = "btn btn-info btn-xs" })</td>      
      <td>Re-initialise the database</td>
    </tr>  
    -->
    <tr>
      <td>@Html.ActionLink("Refresh", "RefreshTitles", "Admin", null, new { @class = "btn btn-info btn-xs" })</td>      
      <td>Manually refresh the title data, takes ~1min</td>
    </tr>       
  </tbody>
</table>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th colspan="2">
        <h3>
          Settings
        </h3>             
      </th>
    </tr>  
    <tr>
      <td style="width: 150px">Setting</td>
      <td>Value</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>DB Free Space</td>
      <td>@freeSpaceDesc</td>
    </tr>   
  </tbody>
</table>

